.form-group {
    letter-spacing: -0.2px;
    font-weight: 600;
    color: var(--font-dark);
    margin-bottom: 25px;
    font-size: 14px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
    width: 100%;
    /* padding: 0.5rem; */
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button.cancel-button {
    background-color: #6c757d;
}

button:hover {
    opacity: 0.9;
}

/* form */

/* view */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    overflow-y: auto;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 20px;
    margin-top: 64px;
    /* max-height: 80vh; */
}
.modal-content-view {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 20px;
    /* margin-top: 200px; */
    /* max-height: 80vh; */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.modal-body {
    padding: 10px 0;
}

.detail-item {
    margin-bottom: 15px;
}

.detail-label {
    font-weight: bold;
    color: #555;
}

.detail-value {
    margin-left: 10px;
    color: #333;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.edit-button,
.delete-button {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 0.5rem;
    cursor: pointer;

    text-decoration: none;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}
